html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: auto;
  width: 25%;
}

h1 {
  font-size: 50px;
  margin-top: 0;
}

form {
  font-size: 20px;
}

.box {
  width: 250px;
  height: 25px;
}

#login {
    background-color: #e7e7e7;
    border: none;
    border-radius: 5%;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}




@media(max-width: 500px) {
  main {
    width: 75%;
    padding: 5%;
    margin: 5%;
  }

  form {
    width: 100%;
    margin: 0;
  }

  #login {
    width: 100%;
  }
  .box {
    width: 100%;
  }
}