body {
  margin-top: 15%;
  margin-left: 40%;
}

input[type = text] {
  font-size: 20px;
  width: 300px;
  margin-bottom: 5px;
}

input[type = email] {
  font-size: 20px;
  width: 300px;
  margin-bottom: 5px;
}

input[type = submit] {
  width: 100px;
}

@media only screen and (max-width: 500px) {
    input[type = submit] {
        width: 300px;
    }
}
