body {
	width: 100%;
	font-family: sans-serif;
}

.full-width {
	width: 100%
}

form {
	width: 50%;
	margin-left: 25%;
}

/* toggle class when form is validated*/
.hide {
	visibility: hidden;
}

.error {
	box-shadow: 1px 1px 2px 2px red;
}

@media(max-width: 600px) {

	form {
		width: 80%;
		margin-left: 10%;
	}

	button {
		width: 100%;
	}

}